/* Variáveis CSS */
:root {
    --color-green: #18853c;
    --color-background: #0a0a23;
}

/* Seletor global, estou usando para formatação */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body */
body {
    font-family: "Roboto", sans-serif;
    background-color: var(--color-background);
    color: var(--color-green);
}

/* Cabeçalho */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    height: 100px;
    border-bottom: 1px solid var(--color-green);
}

/* Menu de navegação*/

nav a {
    color: var(--color-green);
    text-decoration: none;
}
nav a:hover {
    border: 1.5px solid var(--color-green);
    padding: 20px;
    border-radius: 20px;
}

/* Lista */
#lista {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

li {
    margin-right: 20px;
}

/* main */

img {
    max-width: 280px;
    height: auto;
}

#galeria {
   padding: 30px;
}

h2 {
    color: var(--color-green);
    margin: 15px 0;
}